<html lang="en">
<p>
    <a href="/panel/">Home</a>
</p>
<h1>ModifyMusic</h1>
<head>
    <meta charset="UTF-8">
    <!--<style type="text/css">-->
        <!--span{padding-right:10px;width:6em;display:block;float:left;}-->
    <!--</style>-->
</head>
<body>
<div>
    <form action="/panel/catalog/modify/{{info.id}}" method="post">
		<input type="hidden" name="id" value="{{info.id}}">
		<input type="hidden" name="itemType" value="{{info.itemType}}">
        <span>type:</span><input type="text" name="type" value="{{info.type}}"><br>
        <span>title:</span><input type="text" name="title" value="{{info.title}}"><br>
        <span>artist</span><input type="text" name="artist" value="{{info.artist}}"><br>
        <span>label:</span><input type="text" name="label" value="{{info.label}}{{info.dubbed}}"><br>
        <span>releaseDate:</span><input type="date" name="releaseDate" value="{{info.releaseDate}}"><br>
        <span>asin:</span><input type="text" name="asin" value="{{info.asin}}"><br>
        <button>ModifyMusic</button>
    </form>
</div>
</body>
</html>
