<h1>modifyBook</h1>
<body>
<div>
	<form action="/panel/catalog/modifyBook/:item_id" method="post">
		<input type="hidden" name="id" value="{{item_id}}">
		title    ：<input type="text" name="title" value="{{info.ptitle}}"><br>
		author   ：<input type="text" name="author" value="{{info.author}}"><br>
		format   ：<input type="text" name="category" value="{{info.format}}"><br>
		pages    ：<input type="text" name="pages" value="{{info.pages}}"><br>
        publisher: <input type="text" name="publisher" value="{{info.publisher}}"><br>
        language : <input type="text" name="language" value="{{info.language}}"><br>
        isbn10   : <input type="text" name="isbn10" value="{{info.isbn10}}"><br>
        isbn13   : <input type="text" name="isbn13" value="{{info.isbn13}}"><br>
		<button>modifyBook</button>

	</form>
    
        
</div>
</body>