<html lang="en">
<h1>modifyMovie</h1>
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        span{padding-right:10px;width:6em;display:block;float:left;}
    </style>
</head>
<body>
<div>
<<<<<<< HEAD
    <div>modifyMovie</div>
    <form action="/panel/catalog/modify/{{info.id}}" method="post">
        <input type="hidden" name="id" value="{{info.id}}">
		<input type="hidden" name="itemType" value="{{info.itemType}}">
=======
    <form action="/panel/catalog/modifyMovie/:item_id" method="post">
        <input type="hidden" name="id" value="{{id}}">
>>>>>>> 6f943d03f6b6653d3d165687b640c2115b023bf6
        <span>director:</span><input type="text" name="director"  value="{{info.director}}"><br>
        <span>producers:</span><input type="text" name="producers"  value="{{info.producers}}"><br>
        <span>actors:</span><input type="text" name="actors"  value="{{info.actors}}"><br>
        <span>subtitles:</span><input type="text" name="subtitles"  value="{{info.subtitles}}"><br>
        <span>dubbed:</span><input type="text" name="dubbed"  value="{{info.dubbed}}"><br>
        <span>releaseDate:</span><input type="text" name="releaseDate" value="{{info.releaseDate}}"><br>
        <span>runTime:</span><input type="text" name="runTime" value="{{info.runTime}}"><br>
        <button>modifyMovie</button>
    </form>

</div>
</body>
</html>